body{font-family: "Myriad";color:#fff;}
@font-face {
	font-family: "toonish";
	src: url("../fonts/toonish-webfont.woff");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Myriad";
	src: url("../fonts/Myriad_Pro_Cond_Bold.ttf");
	font-style:  normal;
	font-weight: normal;
}
.menu{
	position: fixed;
    right:20px;
    top: 45%;
	font-size:20px;
	z-index:1000;
}
.menu ul{
	list-style:none;
	text-align:right;
}
.menu li{
	margin-bottom:50px;
}
.menu a{
	color:#96d8f1;
	text-decoration:none;
}
.menu a:hover{color:#fff;}
.menu a:hover span{background-color:#fff;color:#00b3e3}
.menu a.active{color:#fff;}
.menu a.active span{background-color:#fff;color:#00b3e3}
.menu span{
	position:relative;
	border:1px solid #fff;
	border-radius:50%;
	padding:10px 16px;
	padding:10px 16px;
	margin-left:10px;
	color:#fff;
	background-color:#00b3e3
}
.menu span:after{
	content:'';
	position:absolute;
	bottom:-50px;left:0;right:0;
	margin:auto;
	width:1px;
	height:50px;
	background-color:#fff;
}
.menu span.rules-span:after{width:0}
.header{
	position:relative;
	padding-bottom:120px;
	margin-top:5px;
	background-image:url('../img/bgMain.jpg');
	background-size:cover;
	background-position:bottom;
	background-repeat:no-repeat;
}
.header:after{
	content:'';
	position:absolute;
	bottom:-80px;left:0;right:0;
	margin:auto;
	width:0;
	height:0;
	border: 30px solid transparent;	border-top: 50px solid #00b3e3;
	z-index:50;
}
.header-top{
	border-bottom:1px solid #97d9f1;
	position:relative;
	padding:10px 0;
	font-size:24px;
	text-align:center;
	color:#fff;
}
.logo{
	position:absolute;
	top:0;left:0;
	background-color:#fff;
}
.header-img{
	margin-top:100px;
	margin-bottom:100px;
	text-align:center;
}
.header-img img{
	max-width:100%
}
.header-info{
	border:1px solid #97d9f1;
	padding:30px 40px;
	font-size:25px;
	color:#fff;
	line-height:1;
}
.header-info h3{
	margin-bottom:20px;
	font-family: "toonish";
	font-size:37px;
	color:#295369;
}
.header-info>p:nth-child(3){
	margin-top:30px;
	font-size:20px;
}
.equally{
	display:flex;
	justify-content: center;
    align-items: center;
	font-family: "toonish";
    font-size: 8rem;
	color:#fff;
}
.header-btn{
	margin-top:30px;
	text-align:center;
}
.btn-success{
	border-radius:0;
	border:1px solid #8cc63f;
	margin:0 auto;
	padding:5px 30px;
	font-size: 24px;
    font-style: italic;
	background-image: linear-gradient(to bottom, #8cc63f, #7ac241, #67be43, #52ba46, #39b54a);
	-webkit-box-shadow: 3px 3px 7px 1px rgba(1,107,61,1);
	-moz-box-shadow: 3px 3px 7px 1px rgba(1,107,61,1);
	box-shadow: 3px 3px 7px 1px rgba(1,107,61,1);
}
/* quiz-section */
.quiz-section{
	position:relative;
	padding:120px 0;
	background-image:url('../img/bg3QuizzSection.jpg');
	background-size:cover;
	/* background-position:bottom; */
	background-repeat:no-repeat;
}
.quiz-section:after{
	content:'';
	position:absolute;
	bottom:-80px;left:0;right:0;
	margin:auto;
	width:0;
	height:0;
	border: 30px solid transparent;	border-top: 50px solid #007093;
	z-index:50;
}
.cap{
	margin:0 auto;
	line-height:1;
	font-size:17px;
}
.cap h2{
	font-family: "toonish";
	font-size:51px;
}
.cap p{font-size:26px;}
.quiz-wrap{
	position:relative;
	height:380px;
	padding:40px;
	margin-top:60px;
	text-align:center;
	box-sizing:border-box;
}
.quiz-number{
	margin:0;
	font-family: "toonish";
	color:#295369;
	font-size:37px;
}
.quiz-now .quiz-number{color:#00b3e3;}
.quiz-date{
	padding:5px 10px;
	background-color:#295369;
}
.quiz-now .quiz-date{background-color:#00b3e3}
.quiz-name{
	margin-top:45px;
	font-size:38px;
	line-height:1;
	color:#fff
}
.quiz-now  .quiz-name{color:#295369}
.quiz-wrap .btn-success, .quiz-wrap .btn-danger, .quiz-wrap .btn-primary{
	position:absolute;
	bottom:-15px;left:0;right:0;
	border-radius:0;
	display:block;
	width:240px;
	margin:auto;
	padding: 5px 30px;
    font-size: 26px;
	font-style: italic;
}
.quiz-wrap .btn-danger{bottom:40px;}
.btn-danger{background-color:#d4145a}
.btn-primary{
	border:none;
	background-color:#295369;
}
.quiz-over{background-color:rgba(0, 179, 227, 0.7);}
.quiz-now{background-color:#fff;}
.quiz-soon{background-color:#b6d6e0;}

.unlock-quiz{
	position:relative;
	display:flex;
	border:1px solid #97d9f1;
	margin-top:70px;
	padding:10px 15px;
	font-size: 20px;
	font-style: italic;
	line-height:1;
}
.unlock-quiz span{padding-left:15px;}
.unlock-quiz span:before{
	content:'';
	float:left;
	margin-right:15px;
	width:1px;
	height:100%;
	background-color:#97d9f1;
}
.unlock-quiz i{font-size:30px;padding:5px 0}
.unlock-quiz i.fa-arrow-down{
	position:absolute;
	top:-60px;left:0;right:0;
	margin:auto;
	width:50px;
	height:1px;
	color:#d4145a;
	font-size:45px;
}
/* /quiz-section */
/* video-section */
.video-section{
	position:relative;
	padding:120px 0;
	background-color:#d4145a;
	font-size:19px;
	line-height:1
}
.video-section:after{
	content:'';
	position:absolute;
	bottom:-80px;left:0;right:0;
	margin:auto;
	width:0;
	height:0;
	border: 30px solid transparent;	border-top: 50px solid #d4145a;
	z-index:50;
}
.video-section .cap{margin-bottom:75px;}
.video-text h3{
	font-size:35px;
	line-height:1
}
.video-p{
	margin-top:50px;
	font-size:17px;
}

/* /video-section */
/* prize-section */
.prize-section{
	padding-top:120px;
	color:#333333;
	line-height:1;
}
.prize-section .cap{margin-bottom:50px;}
.prize-section .cap h2{margin-bottom:30px;}
.prize-section .cap span{
	border:1px solid #295369;
	padding:10px 15px;
	color:#295369;
	font-size:26px;
}
.prize{padding-top:45px;}
.line .prize:nth-child(2){padding-top:10px;}
.line .prize:first-child{border-bottom:1px solid #00b3e3}
.prize h3{color:#00b3e3}
.prize h4{color:#2c556b;}
.prize h4 span, .italic-block{font-style:italic}
.underline{text-decoration:underline}
.super-prize{
	padding-left:60px;
}
.line{
	position:relative;
	border-right:4px solid #ededed;
}
.line:after{
	content:'';
	position:absolute;
	top:0;right:-4px;
	width:4px;
	height:60%;
	background-color:#6c6c6c
}
footer{
	animation: bounce 1s;
	margin-top:115px;
	margin-bottom:40px;
	text-align:center;
}
/* /prize-section */

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}